<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 16px;
            height: 16px;
            background: #333;
            border-radius: 50%;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 16px;
            height: 16px;
            background: #333;
            border-radius: 50%;
            cursor: pointer;
        }

        .switch input:checked:after {
            transform: translateX(100%);
            background-color: #600000;
        }
    </style>
</head>

<body class="bg-gray-900 h-screen flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-1/2">
        <h1 class="text-3xl font-semibold text-center mb-8">Stepper Controls</h1>
        <div class="flex flex-col gap-4">
            <h1 class="text-1xl font-semibold text-center mb-8">Track Motor</h1>
            <div class="flex flex-col md:flex-row items-center gap-4">
                <label for="speed-m1" class="text-gray-700 font-medium md:w-1/4">Speed:</label>
                <div class="flex flex-col md:flex-row items-center gap-2">
                    <input type="number" id="speed-number-m1" min="1" max="1000" value="50"
                        class="border-2 rounded w-20 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                    <input type="range" id="speed-m1" min="1" max="1000" value="50"
                        class="flex-1 mx-2 border-2 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline slider" />
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-4">
                <label for="direction-m1" class="text-gray-700 font-medium md:w-1/4">Direction:</label>
                <div class="flex items-center">
                    <label for="direction-cw-m1" class="inline-flex items-center mr-4 cursor-pointer">
                        <input type="checkbox" id="direction-cw-m1" class="form-checkbox" checked />
                        <span class="ml-2">Clockwise (CW)</span>
                    </label>
                    <label for="direction-ccw-m1" class="inline-flex items-center mr-4 cursor-pointer">
                        <input type="checkbox" id="direction-ccw-m1" class="form-checkbox" />
                        <span class="ml-2">Counter-Clockwise (CCW)</span>
                    </label>
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-4">
                <label for="revolutions-m1" class="text-gray-700 font-medium md:w-1/4">Revolutions:</label>
                <div class="flex flex-col md:flex-row items-center gap-2">
                    <input type="number" id="revolutions-number-m1" min="1" max="100" value="5"
                        class="border-2 rounded w-20 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                    <input type="range" id="revolutions-m1" min="1" max="100" value="5"
                        class="flex-1 mx-2 border-2 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline slider" />
                </div>
            </div>
            <div class="flex justify-center items-center gap-4">
                <button id="run-button-m1"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue">
                    Run Motor1
                </button>
                <button id="stop-button-m1"
                    class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-red">
                    Stop Motor1
                </button>
            </div>
        </div>

        <div class="flex flex-col gap-4">
            <h1 class="text-1xl font-semibold text-center mb-8">Belt Motor</h1>
            <div class="flex flex-col md:flex-row items-center gap-4">
                <label for="speed-m2" class="text-gray-700 font-medium md:w-1/4">Speed:</label>
                <div class="flex flex-col md:flex-row items-center gap-2">
                    <input type="number" id="speed-number-m2" min="1" max="1000" value="50"
                        class="border-2 rounded w-20 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                    <input type="range" id="speed-m2" min="1" max="1000" value="50"
                        class="flex-1 mx-2 border-2 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline slider" />
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-4">
                <label for="direction-m2" class="text-gray-700 font-medium md:w-1/4">Direction:</label>
                <div class="flex items-center">
                    <label for="direction-cw-m2" class="inline-flex items-center mr-4 cursor-pointer">
                        <input type="checkbox" id="direction-cw-m2" class="form-checkbox" checked />
                        <span class="ml-2">Clockwise (CW)</span>
                    </label>
                    <label for="direction-ccw-m2" class="inline-flex items-center mr-4 cursor-pointer">
                        <input type="checkbox" id="direction-ccw-m2" class="form-checkbox" />
                        <span class="ml-2">Counter-Clockwise (CCW)</span>
                    </label>
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-4">
                <label for="revolutions-m2" class="text-gray-700 font-medium md:w-1/4">Revolutions:</label>
                <div class="flex flex-col md:flex-row items-center gap-2">
                    <input type="number" id="revolutions-number-m2" min="1" max="100" value="5"
                        class="border-2 rounded w-20 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                    <input type="range" id="revolutions-m2" min="1" max="100" value="5"
                        class="flex-1 mx-2 border-2 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline slider" />
                </div>
            </div>
            <div class="flex justify-center items-center gap-4">
                <button id="run-button-m2"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-blue">
                    Run Motor2
                </button>
                <button id="stop-button-m2"
                    class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-red">
                    Stop Motor2
                </button>
            </div>
        </div>
    </div>

    <script>


        const setUpMotorControls = (suffix) => {
            const revolutionsSlider = document.getElementById("revolutions-" + suffix);
            const revolutionsNumberInput = document.getElementById("revolutions-number-" + suffix);
            const runButton = document.getElementById("run-button-" + suffix);
            const speedSlider = document.getElementById("speed-" + suffix);
            const speedNumberInput = document.getElementById("speed-number-" + suffix);
            const stopButton = document.getElementById("stop-button-" + suffix);

            revolutionsSlider.addEventListener("input", () => {
                revolutionsNumberInput.value = revolutionsSlider.value;
            });

            revolutionsNumberInput.addEventListener("input", () => {
                revolutionsSlider.value = revolutionsNumberInput.value;
            });

            speedSlider.addEventListener("input", () => {
                speedNumberInput.value = speedSlider.value;
            });

            speedNumberInput.addEventListener("input", () => {
                speedSlider.value = speedNumberInput.value;
            });

            runButton.addEventListener("click", () => {
                // Get values
                const speed = speedSlider.value;
                const directionCW = document.getElementById("direction-cw-" + suffix).checked;
                const directionCCW = document.getElementById("direction-ccw-" + suffix).checked;
                const revolutions = revolutionsSlider.value;

                // Create a JS object
                const motorSettings = {
                    speed: speed,
                    directionCW: directionCW,
                    directionCCW: directionCCW,
                    revolutions: revolutions,
                };

                // Log the object
                console.log(motorSettings);

                // Disable the button and add a disabled style
                runButton.disabled = true;
                runButton.classList.add("cursor-not-allowed");
                runButton.classList.add("opacity-50");

                // Make a POST request
                fetch("/run-" + suffix, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(motorSettings),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        // Handle the response data
                        console.log("Response:", data);
                    })
                    .catch((error) => {
                        // Handle errors
                        console.error("Error:", error);
                    })
                    .finally(() => {
                        runButton.disabled = false;
                        runButton.classList.remove("cursor-not-allowed");
                        runButton.classList.remove("opacity-50");
                    });
            });

            stopButton.addEventListener("click", () => {
                fetch("/stop-" + suffix, {
                    method: "GET",
                }).finally(() => {
                    runButton.disabled = false;
                    runButton.classList.remove("disabled-btn");
                });
            });
        }

        setUpMotorControls("m1");
        setUpMotorControls("m2");

    </script>
</body>

</html>